<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/historia.css' %}?v=1">


    <title>megaman x4</title>
</head>
<body>
    <div class="fundo">

    <div class="box1">
       <h1>Mega Man X4 é o quarto jogo da franquia Mega Man X. <br> 
        Foi originalmente lançado em 1º de agosto de 1997 para o Sega Saturn e PlayStation. <br>
         A versão para PC foi lançada em 1998, e é compatível com Windows 95 ou superior. <br>  Apenas a versão para Sega Saturn contém o jogo completo, 
        da forma como originalmente foi criado. <br>
        Foi relançado em 10 de janeiro de 2006 como parte do jogo Mega Man X Collection para GameCube e Playstation 2.[5]</h1>
      <br>
      <br>
     <h1>  História  <br>
       No ano 21XX, dois grandes exércitos Reploids existem para combater os Mavericks: <br>
       <P>Os Maverick Hunters <img src="https://vignette.wikia.nocookie.net/megaman/images/3/33/Maverick_Hunter_Mark.png/revision/latest?cb=20120623030143" height="200" width="200" align="center"></P> 
      <p>e a Repliforce.</p>
       <img src="https://www.logolynx.com/images/logolynx/99/9909cd8434ef932178ddddda0f3b22ee.jpeg" height="200" width="200" align="center">
       <br>
       <br>
       As duas organizações colaboraram em várias ocasiões, e durante este tempo, Zero fez amizade com Colonel e Iris (irmã mais nova de Colonel).
       <br>
       
       <img src="https://sun9-23.userapi.com/s/v1/if1/Z0nwl4q_5jLy4wHQqsNzngVbTVM9vZF66sH1GA9HgJUcSs8o84712Yy5M9N5AFr6Mm4bCafp.jpg?quality=96&as=32x23,48x34,72x51,108x77,160x114,240x170,360x256,480x341,540x383,640x454,720x511,1080x767,1280x908,1440x1022,2560x1817&from=bu&u=2tHrrI1243uvhae_1J2u4TTcWzW1bs-NeNfduMtcN0I&cs=807x573" width="320px" height="270px" align="center">
        <br>
       Mas um dia, a cidade aérea Sky Lagoon foi atacada por Mavericks, que sabotou seu gerador de energia, fazendo com que caísse na cidade abaixo, matando milhares. <br>
        Como o Repliforce estava presente na área, eles foram colocados sob suspeita e o Coronel foi solicitado que o Repliforce se rendesse ao interrogatório. <br>
         Orgulhoso, o coronel recusa e sai com a irmã. <br>
          O líder deles, General, está indignado com a suspeita e inicia um golpe de estado para construir uma nação exclusivamente Reploid. <br>
           Embora o General diga que eles querem apenas viver em paz, não querendo prejudicar os humanos, toda a Repliforce é 
           considerada Mavericks, e os Caçadores Maverick são enviados para detê-los, iniciando a Grande Guerra da Repliforce. <br>
            Mal sabem eles que, nos bastidores, uma misteriosa figura encapuzada os colocou um contra o outro, na tentativa de acabar com os dois lados. <br>

       Durante a guerra, Iris ajuda Zero enquanto X é assistido pelo novato Double. <br>
        Depois de derrotar vários membros do Repliforce, os Hunter lutam contra o Coronel e o derrotam. <br>
         O Repliforce viaja para o espaço para iniciar sua nação, e os Hunters perseguem sua estação espacial/satélite. <br>
          Ao jogar como Zero, Iris fica irritada com a morte de seu irmão e luta contra ele. A batalha a deixa mortalmente ferida e ela morre nos braços de Zero. <br>
       
       No X, é revelado que Double era um espião da figura encapuzada e das duas brigas, resultando na morte de Double; mas não antes de insultar X por sua ingenuidade. <br>
        Os Hunters finalmente chegam ao General e uma batalha se inicia que o deixa gravemente ferido. <br>
        De repente, a arma na estação se prepara para destruir a Terra, e a figura encapuzada é revelada como sendo Sigma. <br>
         Sigma é destruído pelos Hunter, mas a arma não pode ser parada por eles. General se sacrifica para parar a arma, e a estação explode. <br>
          Ao deixar o campo de batalha, X e Zero contemplam os eventos e aqueles que perpetraram a Grande Guerra do Repliforce. <br>
           Fugindo em naves de fuga para o quartel-general, X e Zero só 
           podem chegar à mesma pergunta: no fundo, todos os Reploids acabarão virando Maverick por conta própria ou por decisão própria, um dia, até nós mesmos?


     </h1>
     <br>
     <br>
     <nav>
        <li><a href="{% url 'home' %}">inicio</a></li>
      </nav>
    </div>

</div>
</body>
</html>