<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>megaman x4</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/corpo.css' %}">

</head>
<body>
   <div id="box0">
    

    <section class="seçao">
<div id="box1">
    <h1>projeto final</h1>
    <h2>megaman x4</h2>
</div>

<div>
    <ul>
        <li><a href="{% url 'historia' %}">historia</a></li>
        <li><a href="{% url 'chefes' %}">chefes</a></li>
        <li><a href="{% url 'itens' %}">itens</a></li>
    </ul>
</div>
</section>

</div>

</body>
</html>
