<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/itens.css' %}?v=1">


   <title>megaman x4</title>
</head>
<body>

    <div class="fundo">
        <div id="box0">
      <h1>itens</h1>
      <h2>armaduras</h2>
       <br>
      <h3>Fourth ou Nova Armor</h3>
       <img src="https://www.creativeuncut.com/gallery-44/art/mmxd-fourth-armor-x.jpg" alt="fourth-armor-x" align="center" width="500px" height="500px">
       <h3>braços</h3>
       <p>Encontrados na fase do Storm Owl, vêm em dois tipos: Stock Charge (faz os braços do X terem uma coloração azul e cinza claro que essa coloração combina com o resto da armadura) e Plasma Charge (que faz os braços do X terem uma coloração vermelho e preto que não combina com o resto da armadura).
         Stock Charge: Permite a você guardar até quatro tiros carregados e atirá-los continuamente. Plasma Charge: Permite lançar uma destrutiva esfera de energia que causa danos até nos mais fortes inimigos, e também deixa rastros de plasma que causam danos adicionais por um bom tempo.
         Plasma Charge é o preferido entre os jogadores. Ambas permitem a ele carregar as armas.</p>
       <h3>Cabeça</h3>
       <p>Encontrado na fase do Cyber Peacock, no 3º teste da Area 1, é necessário conseguir Rank S para, como prêmio, 
        a cápsula aparecer; a cabeça permite que você não gaste as armas (não-carregadas), somente quando carregadas elas gastam energia.</p>
       <h3>Corpo</h3>
       <p>Encontrado na fase do Magma Dragoon, esta armadura 
        reduz os danos enquanto constrói energia para o ataque Nova Strike (às vezes referido como Giga Attack), que é recarregado enquanto X é danificado.</p>
        <h3>Pernas</h3>
        <p>Encontradas na fase do Web Spider (logo no começo 
         da Area 1, encontre uma escada e desça conforme o caminho padrão e
        vá para a direita que você encontra a cápsula), as pernas permitem-o executar duas funções:</p>
         <br>
         <p>Air Dash: X pode executar o dash em pleno ar. Útil para alcançar lugares altos ou para escapadas rápidas.</p>
        <br>
         <p>Flutuação: Pressionando o botão de pulo enquanto no ar, X flutuará. Sem mover-se, a flutuação manterá-se por 5 segundos.
         Você pode mover-se para frente ou para trás, mas com isso, o movimento só durará 2 segundos. Às vezes, é útil para desviar-se de tiros adversários.</p>
         <br>
         <h3>Ultimate Armor</h3>
         <img src="https://i.pinimg.com/736x/a5/8b/86/a58b867399ba41cc550929bdd11b87fb.jpg" alt="Ultimate Armor" height="500px" width="500px" align="center">
         <p>A Ultimate Armor é uma armadura secreta que só pode ser utilizada ao digitar um código secreto na tela de seleção de personagem. 
            Ela tem todas as características presentes na Fourth Armor, apenas com duas diferenças: o Nova Strike da Ultimate Armor é infinito 
            e não há nenhum aumento de defesa nessa armadura. Para o PlayStation, o código é: círculo (2x), esquerda (6x) 
            segurar L1 e R2 e pressionar Start com Mega Man X selecionado. Para o Saturn, o código é: B, B, 
            esquerda (6x), segurar L e R e pressionar Start com Mega Man X selecionado. Na versão para PC, 
            simplesmente pressione Seta para baixo e Enter ao mesmo tempo. Se X aparecer na fase inicial com as partes azul claro de sua armadura roxas, o código funcionou.
             Depois disso, pegue qualquer upgrade de armadura em uma das cápsulas para ativar a Ultimate Armor.</p>
            <br>
            <h2>Zero</h2>
            <h3>Black Armor</h3>
            <img src="https://static.wikia.nocookie.net/f469f744-c474-4618-8e70-bebd9a0a46f8" alt="Black Zero" height="450px" width="500px" align="center">
             <br>
             <p>Assim como a Ultimate Armor, a Black Armor precisa de um código secreto.
                 Na versão para Playstation, o código é: Mantenha R1 pressionado enquanto pressiona direita 6 vezes.
                  Então solte R1, depois segure círculo enquanto aperta Start com Zero selecionado. Na versão para Saturn, 
                  o código é: Mantenha R pressionado enquanto pressiona direita 6 vezes. Solte R então segure o B enquanto 
                  pressiona Start. Na versão para PC, apenas segure cima e aperte Enter. Esta armadura, ao
                 contrário da Ultimate Armor, não possui nenhum benefício, sendo apenas uma mudança estética.
                  Parece uma referência ao falso Zero que foi destruído no Mega Man X2.</p>
              <br>
              <br>
              <h1>Veículos e Ride-Armors</h1>
              <h2>Eagle Armor</h2>
               <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c225a588-5929-4d8d-b50f-a849ea33718d/dfbihbq-b71c0131-79d5-4a6c-b495-52f61342eceb.png/v1/fill/w_1280,h_905,q_80,strp/megaman_x4___fourth_armor___eagle_ride_armor_by_innovator123_dfbihbq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA1IiwicGF0aCI6IlwvZlwvYzIyNWE1ODgtNTkyOS00ZDhkLWI1MGYtYTg0OWVhMzM3MThkXC9kZmJpaGJxLWI3MWMwMTMxLTc5ZDUtNGE2Yy1iNDk1LTUyZjYxMzQyZWNlYi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.w1US-RF8gUs0-5BZDmUOQmYP-KxYrPtISR7W3N9JvHw" alt="Eagle Armor" height="450px" width="500px" align="center">
               <p>Encontrada na fase de Storm Owl, esta armadura azul pode flutuar infinitamente, 
                mas toda vez que é atingida, sua altitude cai. Tem mísseis e um canhão que dispara poderosos tiros teleguiados quando carregada e pode dar air-dashes.</p>
               <br>
               <h2>Raiden Armor</h2>
               <img src="https://th.bing.com/th/id/R.6663c9a43ffbe5f6f431b3001c5fa8d5?rik=0ibnFu3zx7nUFQ&riu=http%3a%2f%2fimages.wikia.com%2fmegaman%2fimages%2fc%2fc3%2fRaidden_Armor_X4.jpg&ehk=7zBkjp5WxfU1Fsr3uCHOR9uJ0uAvpQ%2fDokV3kUx%2bT%2bg%3d&risl=&pid=ImgRaw&r=0" alt="Raiden Armor" height="450px" width="500px" align="center">
               <p>Encontrada nas fases do Slash Beast e do Magma Dragoon, esta armadura vermelha foi designada
                 para combate mano a mano, que pode também destruir rochas ou mesmo 
                 carros-trem. É também à prova de lava, o que permite levá-lo direto à luta contra o Dragoon.</p>
                 <br>
                <h2>jet bike</h2>
                <img src="{% static 'imagens/Captura de tela 2024-12-01 182539.png' %}" alt="jet bike" height="350px" width="500px" align="center">
                <br>
                 <p>Encontrada na fase do Jet Stingray, esta moto alcança altas velocidades além de atirar em inimigos.
                 Pode também dar poderosos air-dashes que destroem os inimigos quando eles batem na frente da moto no seu período de execução.</p>
                 <br>
                 <h1>tanks</h1>
                 <h3>Energy Capsule e Energy Weapons</h3>
                 <img src="{% static 'imagens/Captura de tela 2024-12-01 190002.png' %}" height="100px" width="100px" align="center">
                 <img src="{% static 'imagens/Captura de tela 2024-12-01 190648.png' %}" height="100px" width="100px" align="center">
                 <br>
                 <p>Distribuídas em dois níveis, essas cápsulas recarregam sua energia ou arsenal e também são armazenadas nos E e W-Tanks para uso futuro.</p>
                  <br>
                  <h3>Energy Charge</h3>
                  <img src="{% static 'imagens/Captura de tela 2024-12-01 190849.png' %}" height="200px" width="200px" align="center">
                   <p>Recarregam sua energia até a capacidade total, por menor que a sua energia atual seja.</p>
                  <h3>E-Tank ou Sub-Tank</h3>
                  <img src="{% static 'imagens/Captura de tela 2024-12-01 191553.png' %}" height="200px" width="200px" align="center">
                  <p>Guardam energia extra para quando for preciso. São dois ao todo. Usam 16 cápsulas de qualquer tamanho para encher completamente cada tanque.
                     Ao contrário dos outros jogos, você não precisa necessariamente estar com a energia total para enchê-los, o que é bem mais cômodo.</p>
                  <h3>W-Tank</h3>
                  <img src="{% static 'imagens/Captura de tela 2024-12-01 192338.png' %}" height="200px" width="200px" align="center">
                   <p>Reenche a energia de todas as suas armas, e deve ser enchida com cápsulas que recarregam as armas dos chefes.</p>
                  <h3>Heart-Tank</h3>
                   <img src="{% static 'imagens/Captura de tela 2024-12-01 192558.png' %}" height="200px" width="200px" align="center">
                  <p>Dão ao seu personagem mais energia, daí ele pode suportar mais dano. São 8 ao todo, um em cada fase</p>

        </div>
         <br>
         <br>
         <br>
         <br>
           
    </div>

           <nav>
            <li><a href="{% url 'home' %}">inicio</a></li>
          </nav>
          
</body>
</html>